:host {
    overflow: hidden;
}

.ink-header {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.ink-avatar {
    width: 40px;
    height: 40px;
    background: rgb(144, 0, 0);;
    color: white;
    border-radius: 50%;
    position: relative;
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;

    md-icon {
        position: absolute;
        top: 8px;
        left: 8px;
    }
}

.ink-caption {
    padding: 0 8px;
    color: black;
    line-height: 20px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: "Segoe UI", Helvetica, sans-serif; 

    md-icon {
        width: 32px;
        height: 32px;
        vertical-align: middle;
        margin-right: 12px;
    }
}

.ink-status {
    font-weight: bold;
    font-size: 12px;
    color: #888;
}

.ink-selected {
    background: rgb(144, 0, 0);

    .ink-avatar {
        background: white;
        color: rgb(144, 0, 0);;
    }

    .ink-caption {
        color: white;
    }

    .ink-status {
        color: rgb(255, 208, 208);
    }   
}

.ink-success {
    .ink-avatar {
        background: rgb(0, 144, 0);
    }
    
    &.ink-selected {
        background: rgb(0, 144, 0);

        .ink-avatar {
            background: white;
            color: rgb(0, 144, 0);;
        }

        .ink-caption {
            color: white;
        }

        .ink-status {
            color: rgb(208, 255, 208);
        }
    }
}

