:host {
    display: block;
    height: 100%;
    box-sizing: border-box;
}

md-tab-group {
    height: 100%;
    font-family: "Segoe UI", Frutiger,"Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.ink-browser {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.ink-results {
    height: 100%;
}

ink-explorer, .ink-preview-pane {
    flex-shrink: 1;
    width: 100%;
    overflow-y: auto;
}

ink-explorer {
    flex-grow: 1;
}

.ink-preview-pane {
    flex-grow: 5;
}

.ink-hint {
    text-align: center;
    margin-top: 5%;
    white-space: pre-wrap;
}