.ink-layout {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.ink-suite, .ink-result {
    padding: 0;
    box-shadow: -4px 0 4px -2px rgba(0, 0, 0, 0.4);
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: auto;
    transition: all 0.3s linear;
    
    &::-webkit-scrollbar {
        width: 0;
    }
}

ink-result {
    width: 60%;
}
