md-nav-list {
    padding: 0;
}

md-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, .12);

    div[md-list-avatar] {
        position: relative;
        background: rgb(144, 0, 0);
        color: white;

        md-icon {
            position: absolute;
            left: 8px;
            top: 8px;
        }
    }

    &.ink-selected {
        background: rgb(144, 0, 0);

        div[md-list-avatar] {
            background: white;
            color: rgb(144, 0, 0);
        }

        a[md-line], .ink-description {
            color: white;
        }

        .ink-status {
            color: #ffe0e0;
        }
    }

    &.ink-success {
        div[md-list-avatar] {
            background: rgb(0, 144, 0);
        } 

        &.ink-selected {
            background: rgb(0, 144, 0);  

            div[md-list-avatar] {
                background: white;
                color: rgb(0, 144, 0);
            }

            .ink-status {
                color: #e0ffe0;
            } 
        }
    }
}

.ink-description, .ink-status {
    font-family: "Segoe UI", Helvetica, sans-serif;
}

.ink-status {
    font-weight: bold;
    font-size: 12px;
    color: #888;
}