md-nav-list {
    padding: 0;
}

md-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, .12);

    div[md-list-avatar] {
        position: relative;
        background: rgb(144, 0, 0);
        color: white;

        &.ink-success {
            background: rgb(0, 144, 0);
        }

        md-icon {
            position: absolute;
            left: 8px;
            top: 8px;
        }
    }
}

.ink-description, .ink-status {
    font-family: "Segoe UI", Helvetica, sans-serif;
}

.ink-status {
    font-weight: bold;
    font-size: 12px;
    color: #888;
}