/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

md-list a[md-list-item] .md-list-item, 
md-list md-list-item .md-list-item, 
md-nav-list a[md-list-item] .md-list-item, 
md-nav-list md-list-item .md-list-item {
    padding: 0 8px !important;
}

md-list a[md-list-item] [md-line]:nth-child(n+2), 
md-list md-list-item [md-line]:nth-child(n+2), 
md-nav-list a[md-list-item] [md-line]:nth-child(n+2), 
md-nav-list md-list-item [md-line]:nth-child(n+2) {
    font-size: 12px !important;
}

.md-tab-body-wrapper,
.md-tab-body-content {
    height: 100%;
}