:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    padding: 12px;
    overflow-y: auto;
}

.ink-explorer {
    display: flex;
    flex-direction: column;
    padding-bottom: 49px;
    width: 100%;
    text-decoration: none;
}

.ink-preview {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

