:host {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

md-sidenav-container {
    display: block;
    height: 100%;
    overflow: hidden;

    .md-sidenav-content {
        overflow: hidden;
    }
}

md-sidenav {
    width: 250px;
}

.ink-viewport {
    width: 100%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

md-toolbar {
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);

    button[md-button], .ink-actions {
        height: 100%;
        padding: 0;
        min-width: 64px;
    }

    .ink-app-title {
        padding: 16px 0;
        font-family: "Segoe UI", Helvetica, sans-serif;
        width: 100%;
    }

    .ink-actions {
        height: 100%;
    }
}

md-progress-bar {
    width: 100%;
    height: 2px;
    opacity: 0;

    &.ink-visible { 
        opacity: 1;
    }
}

.ink-content {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.ink-status-bar {
    height: 32px;
    width: 100%;
    background: #880e4f;
}