:host {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

md-sidenav-container {
    display: block;
    height: 100%;
    overflow: hidden;

    .md-sidenav-content {
        overflow: hidden;
    }
}

md-sidenav {
    width: 250px;
}

.ink-viewport {
    width: 100%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

md-toolbar {
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);

    button[md-button] {
        height: 100%;
        padding: 0;
        min-width: 64px;
    }

    .ink-app-title {
        padding: 16px 0;
        font-family: "Segoe UI", Helvetica, sans-serif;
    }
}

md-progress-bar {
    width: 100%;
    height: 2px;
}

.ink-content {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.ink-specs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
.test {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 4px;
}

.test.green {
    background-color: #0a0;
}

.test.red {
    background-color: #f00
}