.ink-preview-header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    font-family: "Segoe UI", Frutiger,"Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    align-items: center;
}

md-icon {
    height: 64px;
    width: 64px;
    margin-right: 20px;
    color: #ffd600;

    &.ink-failed {
        color: #ff1744;
    }
        
    &.ink-success {
        color: #00c853;
    }
}